.appPaginationWrapper{
    padding: 0 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.Pagionation ul li button{
    width: 50px;
    background-color: #333333;
    color: aliceblue;
    font-size: 1em;
}