@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
body{
    margin: 0;
}
.header div:first-child{
    display: flex;
    align-items: center;
}
.headerWrapper{
    position: fixed;
    width: 100%;
}
.header{
    z-index: 5;
    min-width: 600px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    opacity: 97%;
    height: 60px;
    box-shadow: 0 3px 3px 0 rgb(17, 17, 17);

    font-family: 'Barlow', sans-serif;

}
.header a{
    margin: 0 10px;
    text-decoration: none;
    color: azure;
    font-size: 1.6em;
}
.header_nav{
    display: flex;
    margin-right: 100px;
}
.header a[class='active']{
    text-decoration: underline;
}
.errorPos{
    margin-right: 50px;
}
.searchForm{
    display: flex;
    align-items: center;
}
.searchForm button{
    height: 40px;
}

